:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #fff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  background: #111;
  color: #f5f5f5;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 0;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5em;
  }
}

.wrap {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;

  background: #181818;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

.read-the-docs {
  color: #888;
}

input[type="text"] {
  background: rgb(39, 39, 42);
  border: 1px solid rgb(63, 63, 70);
  color: #fff;
  width: 80%
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;

  background: rgb(63, 63, 70);
  color: #fff;
  border: 1px solid #444;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-10px); }
  40% { transform: translateX(10px); }
  60% { transform: translateX(-10px); }
  80% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}
.shake {
  animation: shake 0.4s;
}



.text-red {
  color: #ff4d4d;
}


.footer {
  border: 1px solid #444;
  border-width: 1px 0 0 0;
  margin-top: 40px;
}

.progress-bar {
  width: 100%;
  height: 30px;
  background-color: #333;
  border-radius: 100px;
  overflow: hidden;
  position: relative;
  z-index: 2;
  margin-bottom: 10px;
}
.progress-bar-text {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  line-height: 30px;
  font-size:12px;
  color: #fff;
}
.progress-bar-fill {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
  border-radius: 100px;
  z-index: 1;
}

.progress-bar-fill.responses {
  background-color: #5cb85c;
}
.progress-bar-fill.tries {
  background-color: #d9534f;
}